[Unit]
Description=Web-to-Coop-Control
After=network-online.target

[Service]
WorkingDirectory=/home/pi/coop
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
ExecStart=/usr/bin/python3 -u web-ctrl.py

[Install]
WantedBy=multi-user.target